* {
  margin: 0vh;
  padding: 0vh;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
  color: #747373;
}
.user-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 4vh 0vh;
  justify-content: space-between;
}
.bold {
  font-weight: bold;
  color: #007b5e;
}
.bold-black {
  font-weight: bold;
}

.header div {
  padding: 1vh;
  margin: 0vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10vh;
}
.image {
  height: 40px;
  margin-top: 3vh;
}

.addressField {
  margin-top: 1vh;
}

.addressField span {
  margin-left: 0vh;
}

.address {
  margin: 1vh 0vh;
}

.button {
  height: 4vh;
  width: 18vh;
  cursor: pointer;
  background-color: #007b5e;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-size: 2vh;
  color: white;
  border: none;
  border-radius: 5vh;
  margin-top: 2vh;
  text-align: center;
}

.button:hover {
  color: #007b5e;
  background-color: white;
  border: 0.01px solid black;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 4vh 0vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 45vw;
}

.posts {
  padding: 3vh;
  display: flex;
  flex-direction: column;
  background-color: #98bdb4;
  align-items: center;
  box-shadow: 5px 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2vh;
}

.title {
  align-self: flex-start;
  font-weight: bolder;
  font-size: 2vh;
  color: #007b5e;
  margin-bottom: 2vh;
}

.comment-container .header {
  color: #007b5e;
}

.comment-container {
  display: flex;
  margin: 5vh 0vh;
  flex-direction: column;
  /* width: 40vw; */
}
.comment {
  margin: 5vh;
  background-color: white;
  padding: 4vh 10vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contact {
  margin-top: 2vh;
  padding: 1vh;
  margin: 1vh 2vh;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10vh;
}

.heading {
  text-align: center;
  margin-top: 2vh;
}

@media screen and (max-width: 375px) {
  .user-container {
    padding: 2vh;
    font-size: 2.2vh;
  }

  .header div {
    padding: 1vh;
    margin: 0vh 1vh;
    font-size: 1.8vh;
  }
}
